﻿@model Web.Entity.Models.ToDoTasks

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div>
                <label asp-for="DateCreated"></label>
                <input asp-for="DateCreated" class="form-control" />
            </div>
            <div>
                <label asp-for="Assignment.CreatedBy"></label>
                <input asp-for="Assignment.CreatedBy" class="form-control" />
            </div>
            <div>
                <label asp-for="Assignment.AssignedTo"></label>
                <input asp-for="Assignment.AssignedTo" class="form-control" />
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>