﻿@model Web.Entity.Models.ToDoTasks

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Task</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div>
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>

            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div>
                <label asp-for="DateCreated"></label>
                <input asp-for="DateCreated" class="form-control" />
            </div>
            <div>
                <label asp-for="Assignment.CreatedBy"></label>
                <input asp-for="Assignment.CreatedBy" class="form-control" />
            </div>
            <div>
                <label asp-for="Assignment.AssignedTo"></label>
                <input asp-for="Assignment.AssignedTo" class="form-control" />
            </div>
            <div>
                <label asp-for="Done"></label>
                <input asp-for="Done" class="form-control" />
            </div>
            <div>
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Task</a>
</div>
