﻿@model IEnumerable<Web.Entity.Models.ToDoTasks>

<h1>To Do List</h1>

<div>
    <a asp-action="Create">New task</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>
                    @task.Id
                </td>
                <td>
                    @task.Name
                </td>
                <td>
                    @task.DateCreated
                </td>
                <td>
                    @task.Assignment.CreatedBy
                </td>
                <td>
                    @task.Assignment.AssignedTo
                </td>
                <td>
                    @task.Done
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@task.Id">Edit</a>
                    |
                    <a asp-action="Details" asp-route-id="@task.Id">Details</a>
                    |
                    <a asp-action="Delete" asp-route-id="@task.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

