* {
    box-sizing: border-box;
    margin: 0 0;
}

.nav {
    background-color:rgb(33, 105, 182);
    position: absolute;
    display: block;
    width: 100%;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 39px 0;
}

.nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}
.nav li:hover {
    background-color: rgb(36, 35, 40);
    border-radius: 7px;
}

.photo {
    position: relative;
    border: 2px solid white;
    border-radius: 4rem;
    width: 7rem;
    margin: 3px 0 ;
    margin-left: 10px;
}

.name {
    font-family:'Courier New', Courier, monospace;
    margin: 5px 0;
    width: 60%;
    text-align: right;
    font-size: 30px;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}

.title {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

ul {
    padding: 0;
}

.education h3, p {
    margin: 5px;
}

.education ul li,
.projects ul li,
.language ul li {
    margin: 20px;
}

h2 {
    font-size: 30px;
}

.skills ul{
    width: 600px;
    height: 150px;
    list-style: none;
}
.skills ul li {
    display: inline-block;
    font-size: 20px;
    background-color: rgb(207, 203, 203);
    border-radius: 7px;
    padding: 3px;
    margin: 10px
}

/* form css */
.form-body {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.form {
    display: flex;
    width: 35%;
    height: 40rem;
    border: 2px solid grey;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.comment {
    padding: 50px 0;
}

.form-label {
    display: inline-block;
    width: 50px;
}
.form-field {
    width: 20rem;
}

.textarea {
    width: 90%;
}

.form-button {
    width: 50%;
    
}

.button a {
 display: block;
 margin-top: 30px;
 text-decoration: none;
 opacity: 0.8;
}

.button a:hover {
   color: blue;
   opacity: 1;
}

.error {
    color: red;
    font-style: italic;
}
/* comments css */

.comments {
    width: 70%;
}
.user-comment {
    margin: 30px;
    border: 2px solid grey;
}

.user {
    border-top: 1px solid #cdcaca;
    display: flex;
    justify-content: center;
}

.user span {
    padding: 0 10px;
}